*~
*.sw[po]

*.[oa]
*.cm[xaio]
*.cmx[as]

docbook-xsl.css
doc/*.html
doc/style.css
doc/version.config

web/temp

win-builds-bundle
win-builds-bundle-*.zip
win-builds-*.exe
win-builds-*.tar.*

build/_build/

*.native
*.byte

yypkg/ocaml-efl-*
yypkg/ocaml-archive-*
yypkg/ocaml-fileutils-*
yypkg/cryptokit-*
yypkg/libocaml_*
yypkg/yypkg-*
yypkg/tarballs
yypkg/deps

file_list

installer

lxc_mount
Makefile.data.local

deps/prefix
deps/coreutils-*
deps/findutils-*
deps/sed-*
deps/make-*
deps/findlib-*
deps/ocaml-*
deps/cryptokit-*
deps/libocaml_*
deps/tarballs
deps/yypkg-*
deps/bash-*
deps/tar-*
deps/patch-*
deps/libarchive-*
deps/xz-*
deps/m4-*
