*~
*.sw[po]

*.[oa]
*.cm[xaio]
*.cmx[as]

docbook-xsl.css
doc/*.html
doc/style.css
doc/version.config

web/temp

win-builds-bundle
win-builds-bundle-*.zip

build
build_packages/_build/

*.native
*.byte
