*~
*.sw[po]

*.[oa]
*.cm[xaio]
*.cmx[as]

docbook-xsl.css
doc/*.html
doc/style.css
doc/version.config

web/temp

win-builds-bundle
win-builds-bundle-*.zip

build/_build/

*.native
*.byte

yypkg/ocaml-efl-*
yypkg/ocaml-archive-*
yypkg/ocaml-fileutils-*
yypkg/cryptokit-*
yypkg/libocaml_*
yypkg/yypkg-*
yypkg/tarballs
yypkg/deps
