body {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-family: DejaVu Sans, Helvetica;
}

h1, h2, h3 {
  font-weight: 500;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

.content {
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
}

.navbar {
  border-color: black;
  border: 1px solid;
  height: 100%;
}

.navlist {
  padding-left: 0em;
  margin-top: 0em;
  margin-bottom: 0em;
}

.navbar-el {
  display: block;
  padding: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  display: inline-block;
  font-weight: bold;
}

.navbar-el h2 {
  margin-bottom: 0.2em;
  margin-top: 0.2em;
}

.hl {
  margin-bottom: 0.5em;
  width: 32%;
  display: inline-table;
}

.hl-title {
  margin-bottom: 0.2em;
}

.hl-list {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.hl-el {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

#caption {
  display: none;
}

video {
  margin-bottom: 1em;
}
