body {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-family: sans-serif;
}

.content {
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
}

@media screen and (max-width: 70em), screen and (orientation: portrait) {
  body {
    width: 98%;
  }
  .content {
    padding-left: 0.2em;
    padding-right: 0.2em;
    padding-bottom: 0.2em;
  }
}

@media screen and (min-width: 70em) {
  body {
    width: 70em;
  }
  .content {
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
  }
}

h1, h2, h3 {
  font-weight: normal;
}

h1 {
  font-size: x-large;
  text-align: center;
}

.navbar {
  border-color: black;
  border: 1px solid;
  height: 100%;
}

.navlist {
  display: table;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0em;
  margin-top: 0em;
  font-weight: bold;
}

.navlist div div {
  padding-bottom: 0.4em;
  padding-top: 0.4em;
  padding-left: 0.4em;
  padding-right: 0.4em;
  display: inline-block;
}

.navlist div div a {
  text-decoration: none;
  outline: none;
  color: inherit;
}

.navlist div div a:hover {
  text-decoration: underline;
}

.flexbox {
  display: -moz-flex;
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -moz-flex-direction: row;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.hl {
  -ms-flex: 0 1 32%;
  -moz-flex: 0 1 32%;
  -webkit-flex: 0 1 32%;
  flex: 0 1 32%;
  margin-top: 0.75em;
  margin-left: 1%;
  margin-right: 0em;
  vertical-align: top; /* required for Chrome <= 22 (and matching WebKits) >*/
  border-top: 1px black solid;
}

.package-list {
  padding-left: 4px;
  padding-right: 8px;
}

.package-list .package-list-item {
  list-style: none;
}

@media screen and (max-width: 50em), screen and (orientation: portrait) {
  .hl {
    flex: 0 1 49%;
    -ms-flex: 0 1 49%;
    -moz-flex: 0 1 49%;
    -webkit-flex: 0 1 49%;
  }
}

@media screen and (min-width: 50em) {
  .hl {
    flex: 0 1 32%;
    -ms-flex: 0 1 32%;
    -moz-flex: 0 1 32%;
    -webkit-flex: 0 1 32%;
  }
}

.hl-title {
  margin-bottom: 0em;
  margin-top: 0.2em;
  font-size: large;
}

.hl-list {
  padding-left: 0em;
  padding-right: 0em;
  margin-top: 0em;
}

.hl-list li {
  display: block;
  margin-top: 0.5em;
}

#caption {
  display: none;
}

video {
  margin-bottom: 1em;
}

ul {
  margin-top: 0em;
}

.arrow {
  cursor: pointer;
}

.arrow-left {
  width: 0;
  height: 0;
  border-top: 1em solid transparent;
  border-bottom: 1em solid transparent;
  border-right: 1em solid black;
}

.arrow-right {
  width: 0;
  height: 0;
  border-top: 1em solid transparent;
  border-bottom: 1em solid transparent;
  border-left: 1em solid black;
}
