body {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-family: DejaVu Sans, Helvetica, Arial;
}

@media screen and (max-width: 70em), screen and (orientation: portrait) {
  body {
    width: 98%;
  }
}

@media screen and (min-width: 70em) {
  body {
    width: 70em;
  }
}

h1, h2, h3 {
  font-weight: normal;
}

.content {
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
}

.navbar {
  border-color: black;
  border: 1px solid;
  height: 100%;
}

.navlist {
  display: table;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0em;
  margin-bottom: 0em;
}

.navlist {
  margin-bottom: 0.4em;
  margin-top: 0.4em;
  font-size: x-large;
}

.navlist span {
  word-spacing: 1em;
}

.navlist span a {
  word-spacing: normal;
}

.hl {
  margin-bottom: 0.5em;
  width: 32%;
  display: inline-table;
  vertical-align: top; /* required for Chrome <= 22 (and matching WebKits) */
}

.hl-title {
  margin-bottom: 0.2em;
}

.hl-list {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.hl-list li {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

#caption {
  display: none;
}

video {
  margin-bottom: 1em;
}
