body {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-family: DejaVu Sans, Helvetica, Arial;
}

.content {
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
}

@media screen and (max-width: 70em), screen and (orientation: portrait) {
  body {
    width: 98%;
  }
  .content {
    padding-left: 0.2em;
    padding-right: 0.2em;
    padding-bottom: 0.2em;
  }
}

@media screen and (min-width: 70em) {
  body {
    width: 70em;
  }
  .content {
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
  }
}

h1, h2, h3 {
  font-weight: normal;
}

.navbar {
  border-color: black;
  border: 1px solid;
  height: 100%;
}

.navlist {
  display: table;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0em;
  margin-top: 0em;
  font-size: x-large;
}

.navlist div div {
  padding-bottom: 0.4em;
  padding-top: 0.4em;
  padding-left: 0.4em;
  padding-right: 0.4em;
  display: inline-block;
}

.navlist div div a {
  margin-bottom: 0.4em;
  margin-top: 0.4em;
}

.hl {
  margin-top: 0.75em;
  margin-left: 1%;
  margin-right: 0em;
  width: 31%;
  display: inline-table;
  vertical-align: top; /* required for Chrome <= 22 (and matching WebKits) */
  border-top: 1px black solid;
}

@media screen and (max-width: 50em), screen and (orientation: portrait) {
  .hl {
    width: 48%;
  }
}

@media screen and (min-width: 50em) {
  .hl {
    width: 31%;
  }
}

.hl-title {
  margin-bottom: 0em;
  margin-top: 0.2em;
}

.hl-list {
  padding-left: 0em;
  padding-right: 0em;
  margin-top: 0em;
}

.hl-list li {
  display: block;
  margin-top: 0.5em;
}

#caption {
  display: none;
}

video {
  margin-bottom: 1em;
}

ul {
  margin-top: 0em;
}
